# Application artifacts (Elixir)
/_build/
/deps/
/.fetch
*.beam
*.ez
typed_struct-*.tar

# Test coverage and documentation
/cover/
/doc/

# Editor artifacts
/.elixir_ls/
/.history/

# Crash dumps
erl_crash.dump
